@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=block");
@import url("https://fonts.googleapis.com/css2?family=Marcellus:wght@100;200;300;400;500;600;700;800;900&display=block");

* {
	user-select: none;
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 0;
	gap: 0;
	margin: 0;
	border: 0;
	outline: 0;
	line-height: normal;
	overflow: hidden;
}

html {
	display: flex;
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.05);
	overflow-y: auto;
}

header {
	position: relative;
	display: flex;
	height: fit-content;
	width: 100%;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0, 0, 0, 1.0);
	background-image: url("background1.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position-y: -100px;
}

header top {
	position: relative;
	display: flex;
	width: 100%;
	max-width: 1200px;
	padding-top: 25px;
	padding-inline: 50px;
	padding-bottom: 25px;
	justify-content: flex-end;
}

header top logo {
	position: absolute;
	display: flex;
	left: 50%;
	transform: translateX(-50%);
}

header top logo img {
	display: flex;
	min-height: 50px;
	max-height: 50px;
	object-fit: contain;
}

header top button {
	display: flex;
	height: fit-content;
	width: fit-content;
	font-family: "Marcellus";
	font-size: 16px;
	font-weight: 400;
	/*padding: 15px;*/
	padding-inline: 30px;
	padding-block: 10px;
	color: rgba(255, 255, 255, 1.0);
	/*color: rgba(0, 0, 0, 1.0);*/
	border-style: solid;
	border-width: 1px;
	border-color: #d3c09f5f;
	/*border-color: rgba(255, 255, 255, 0.5);*/
	/*border-color: rgba(0, 0, 0, 0.5);*/
	background-color: transparent;
	cursor: pointer;
	text-transform: uppercase;
	transition-duration: 0.2s;
}

header top button:hover {
	/*color: rgba(255, 255, 255, 1.0);
	border-color: rgba(0, 0, 0, 1.0);
	background-color: rgba(0, 0, 0, 1.0);*/

	color: rgba(0, 0, 0, 1.0);
	border-color: rgba(0, 0, 0, 1.0);
	background-color: rgba(0, 0, 0, 1.0);
}

header bottom {
	display: flex;
	width: 100%;
	max-width: 1200px;
	padding-inline: 50px;
	padding-bottom: 50px;
	gap: 50px;
	justify-content: space-between;
}

header bottom left {
	display: flex;
	flex-direction: column;
	padding-top: 100px;
	gap: 50px;
}

header bottom left button {
	display: flex;
	height: fit-content;
	width: fit-content;
	font-family: "Marcellus";
	font-size: 16px;
	font-weight: 400;
	/*padding: 15px;*/
	padding-inline: 30px;
	padding-block: 10px;
	color: rgba(255, 255, 255, 1.0);
	/*color: rgba(0, 0, 0, 1.0);*/
	border-style: solid;
	border-width: 1px;
	/*border-color: rgba(255, 255, 255, 0.5);*/
	border-color: #d3c09f5f;
	/*border-color: rgba(0, 0, 0, 0.5);*/
	background-color: transparent;
	cursor: pointer;
	text-transform: uppercase;
	transition-duration: 0.2s;
}

header bottom column {
	display: flex;
	flex-direction: column;
}

header bottom column title {
	display: flex;
	font-family: "Marcellus";
	font-size: 35px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1.0);
	/*color: rgba(0, 0, 0, 1.0);*/
}

header bottom right title {
	font-family: "Poppins";
}

header bottom column title.middle {
	margin-inline: auto;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 300;
	padding-bottom: 15px;
}

header bottom column text {
	display: flex;
	font-family: "Marcellus";
	font-size: 16px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1.0);
	/*color: rgba(0, 0, 0, 1.0);*/
	text-transform: uppercase;
}

header bottom right {
	display: flex;
	max-width: fit-content;
	flex-direction: column;
	/*gap: 25px;*/
	padding-top: 100px;
}

header bottom right row {
	display: flex;
	gap: 50px;
	padding-bottom: 25px;
}

header bottom right row button {
	display: flex;
	height: fit-content;
	min-width: 270px;
	max-width: 270px;
	justify-content: center;
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 200;
	padding: 30px;
	color: rgba(255, 255, 255, 1.0);
	/*color: rgba(0, 0, 0, 1.0);*/
	border-style: solid;
	border-width: 1px;
	/*border-color: rgba(255, 255, 255, 0.5);*/
	border-color: #d3c09f5f;
	/*border-color: rgba(0, 0, 0, 0.5);*/
	background-color: transparent;
	cursor: pointer;
	transition-duration: 0.2s;
}

header bottom right row button:hover {
	color: rgba(255, 255, 255, 1.0);
	border-color: rgba(0, 0, 0, 1.0);
	background-color: rgba(0, 0, 0, 1.0);
}

section {
	display: flex;
	height: fit-content;
	width: 100%;
	flex-direction: column;
	align-items: center;
	padding-top: 25px;
	/*gap: 80px;*/
	background-color: rgba(0, 0, 0, 0.1);
	margin-bottom: 5000px;
}


section logo {
	display: flex;
	padding-block: 15px;
}

section logo img {
	display: flex;
	min-height: 35px;
	max-height: 35px;
}

section title {
	display: flex;
	font-family: "Marcellus";
	font-size: 35px;
	font-weight: 400;
	padding-bottom: 50px;
	color: rgba(0, 0, 0, 1.0);
}

section column {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}

section column text {
	display: flex;
	font-family: "Marcellus";
	font-size: 20px;
	font-weight: 400;
	color: rgba(0, 0, 0, 1.0);
}

section button {
	display: flex;
	height: fit-content;
	width: fit-content;
	font-family: "Marcellus";
	font-size: 16px;
	font-weight: 400;
	padding-inline: 30px;
	padding-block: 10px;
	margin-bottom: 50px;
	color: rgba(0, 0, 0, 1.0);
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.5);
	background-color: transparent;
	cursor: pointer;
	text-transform: uppercase;
}