@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=block");
@import url("https://fonts.googleapis.com/css2?family=Marcellus:wght@100;200;300;400;500;600;700;800;900&display=block");

* {
	user-select: none;
	box-sizing: border-box;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	gap: 0;
	border: 0;
	outline: 0;
	line-height: normal;
	overflow: hidden;
}

html {
	display: flex;
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	overflow-y: auto;
	background-color: #f2f2f2;
}

header {
	display: flex;
	height: fit-content;
	width: 100%;
	flex-direction: column;
	padding-block: 25px;
	gap: 50px;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.95);
}

header top {
	display: flex;
	width: 100%;
	max-width: 1200px;
	padding-inline: 50px;
	/*padding-block: 25px;*/
}

header top a.logo {
	display: flex;
	margin-left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}

header top a.logo img {
	display: flex;
	min-height: 50px;
	max-height: 50px;
	object-fit: contain;
}

header top a.button {
	display: flex;
	height: fit-content;
	width: fit-content;
	padding-inline: 30px;
	padding-block: 10px;
	margin-left: auto;
	font-family: "Marcellus";
	font-size: 16px;
	font-weight: 400;
	border-style: solid;
	border-width: 1px;
	border-color: #d3c09f5f;
	color: rgba(255, 255, 255, 1.0);
	background-color: transparent;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	transition-duration: 0.2s;
}

header top a.button:hover {
	border-color: #483d39;
	background-color: #483d39;
}

header bottom {
	display: flex;
	width: 100%;
	max-width: 1200px;
	padding-inline: 50px;
	justify-content: space-between;
}

header bottom left {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

header bottom left column {
	display: flex;
	flex-direction: column;
}

header bottom left column title {
	display: flex;
	font-family: "Marcellus";
	font-size: 35px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1.0);
}

header bottom left a {
	display: flex;
	height: fit-content;
	width: fit-content;
	padding-inline: 30px;
	padding-block: 10px;
	font-family: "Marcellus";
	font-size: 16px;
	font-weight: 400;
	border-style: solid;
	border-width: 1px;
	border-color: #d3c09f5f;
	color: rgba(255, 255, 255, 1.0);
	background-color: transparent;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	transition-duration: 0.2s;
}

header bottom left a:hover {
	border-color: #483d39;
	background-color: #483d39;
}

header bottom right {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

header bottom right title {
	display: flex;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1.0);
	justify-content: center;
	text-transform: uppercase;
}

header bottom right column {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

header bottom right column row {
	display: flex;
	gap: 50px;
}

header bottom right column row a {
	display: flex;
	height: fit-content;
	min-width: 270px;
	max-width: 270px;
	padding: 30px;
	justify-content: center;
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 200;
	border-style: solid;
	border-width: 1px;
	border-color: #d3c09f5f;
	color: rgba(255, 255, 255, 1.0);
	background-color: transparent;
	cursor: pointer;
	text-decoration: none;
	transition-duration: 0.2s;
}

header bottom right row a:hover {
	border-color: #483d39;
	background-color: #483d39;
}

section1 {
	display: flex;
	height: fit-content;
	width: 100%;
	justify-content: center;
	background-color: #f2f2f2;
}

section1 center {
	display: flex;
	width: 100%;
	max-width: 1200px;
	flex-direction: column;
	padding-inline: 50px;
	padding-block: 25px;
	gap: 25px;
	align-items: center;
}

section1 center icon {
	display: flex;
}

section1 center icon img {
	display: flex;
	min-height: 50px;
	max-height: 50px;
	object-fit: contain;
}

section1 center title {
	display: flex;
	font-family: "Marcellus";
	font-size: 35px;
	font-weight: 400;
	color: rgba(0, 0, 0, 1.0);
}

section1 center text {
	display: flex;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 1.0);
	text-transform: uppercase;
}

section2 {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
}

section2 center {
	display: flex;
	height: fit-content;
	width: 100%;
	max-width: 1200px;
	flex-direction: column;
	padding-inline: 50px;
	padding-block: 25px;
	gap: 100px;
	align-items: center;
}

section2 center column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

section2 center column text {
	display: flex;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 1.0);
}

section2 center a {
	display: flex;
	height: fit-content;
	width: fit-content;
	padding-inline: 30px;
	padding-block: 10px;
	font-family: "Marcellus";
	font-size: 16px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1.0);
	background-color: #483d39;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	transition-duration: 0.2s;
}

section2 center a:hover {
	background-color: rgba(0, 0, 0, 0.95);
}

section3 {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-bottom: 200px;
	background-color: #f2f2f2;
}

section3 center {
	display: flex;
	height: 100%;
	width: 100%;
	max-width: 1200px;
	padding-inline: 50px;
	padding-block: 25px;
	gap: 50px;
	align-items: center;
}

section3 center left {
	display: flex;
	height: 100%;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: flex-end;
	align-items: center;
}

section3 center left img {
	display: flex;
	max-height: 100%;
	height: 100%;
	max-width: 100%;
	object-fit: contain;
	background-color: rgba(0, 0, 0, 0.95);
}

section3 center right {
	display: flex;
	height: 100%;
	flex-grow: 1;
	flex-basis: 0;
	flex-direction: column;
	gap: 25px;
	justify-content: center;
}

section3 center right column {
	display: flex;
	flex-direction: column;
}

section3 center right column title {
	display: flex;
	font-family: "Marcellus";
	font-size: 35px;
	font-weight: 400;
	color: rgba(0, 0, 0, 1.0);
}

section3 center right a {
	display: flex;
	height: fit-content;
	width: fit-content;
	padding-inline: 30px;
	padding-block: 10px;
	font-family: "Marcellus";
	font-size: 16px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1.0);
	background-color: #483d39;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	transition-duration: 0.2s;
}

section3 center right a:hover {
	background-color: rgba(0, 0, 0, 0.95);
}

section4 {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-bottom: 200px;
	background-color: #f2f2f2;
}

section4 center {
	display: flex;
	height: 100%;
	width: 100%;
	max-width: 1200px;
	flex-direction: column;
	padding-inline: 50px;
	padding-block: 25px;
	gap: 25px;
	align-items: center;
}

section4 center top {
	display: flex;
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	gap: 100px;
}

section4 center top side {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
}

section4 center top side.left {
	justify-content: flex-end;
}

section4 center top side partner {
	display: grid;
	height: 100%;
	width: fit-content;
	max-width: 100%;
	flex-direction: column;
	gap: 10px;
}

section4 center top side partner column {
	display: flex;
	flex-direction: column;
}

section4 center top side partner column row {
	display: flex;
	align-items: center;
	gap: 10px;
}

section4 center top side partner column row name {
	display: flex;
	font-family: "Marcellus";
	font-size: 25px;
	font-weight: 400;
	color: rgba(0, 0, 0, 1.0);
}

section4 center top side partner column row separator {
	display: flex;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 1.0);
}

section4 center top side partner column row info {
	display: flex;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 1.0);
	text-transform: uppercase;
}

section4 center top side partner column role {
	display: flex;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 400;
	color: rgba(0, 0, 0, 1.0);
}

section4 center top side partner person {
	display: flex;
	max-width: fit-content;
	flex-grow: 1;
	flex-shrink: 1;
}

section4 center top side partner person img {
	display: flex;
	min-height: 100%;
	max-height: 100%;
	object-fit: contain;
}

section4 center a {
	display: flex;
	height: fit-content;
	width: fit-content;
	padding-inline: 30px;
	padding-block: 10px;
	font-family: "Marcellus";
	font-size: 16px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1.0);
	background-color: #483d39;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	transition-duration: 0.2s;
}

section4 center a:hover {
	background-color: rgba(0, 0, 0, 0.95);
}

footer {
	display: flex;
	height: fit-content;
	width: 100%;
	justify-content: center;
	background-color: #38312e;
}

footer center {
	display: grid;
	height: fit-content;
	width: 100%;
	max-width: 1200px;
	padding-inline: 50px;
	padding-block: 50px;
	gap: 50px;
	grid-template-columns: 1fr auto 1fr;
}

footer center left {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	gap: 25px;
}

footer center left title {
	display: flex;
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

footer center left column {
	display: flex;
	flex-direction: column;
}

footer center left column text {
	user-select: all;
	display: flex;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1.0);
}

footer center middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 25px;
}

footer center middle icon {
	display: flex;
}

footer center middle icon img {
	display: flex;
	min-height: 100px;
	max-height: 100px;
}

footer center middle logo {
	display: flex;
}

footer center middle logo img {
	display: flex;
	min-height: 50px;
	max-height: 50px;
}

footer center middle title {
	display: flex;
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

footer center middle column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer center middle column text {
	user-select: all;
	display: flex;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1.0);
}

footer center right {
	display: flex;
	padding-top: 50px;
	justify-content: flex-end;
}

footer center right column {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

footer center right column title {
	display: flex;
	font-family: "Poppins";
	font-size: 16px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

footer center right column text {
	user-select: all;
	display: flex;
	font-family: "Poppins";
	font-size: 18px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1.0);
}